.link-button--styled {
  display: inline-block;
  padding: 20px
    20px;
  padding: 20px
    var(--grid-gutter-xl);
  padding: var(--grid-spacing-rabbit)
    20px;
  padding: var(--grid-spacing-rabbit)
    var(--grid-gutter-xl);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #000;
  color: #fff;
  font-family: Tahoma, sans-serif;
  font-family: 'EconSans', Tahoma, sans-serif;
  font-size: 0.8em;
  font-size: 0.88889em;
  line-height: 1.4;
  line-height: 1.4;
  text-decoration: none;
  background-color: #fff;
  background-color: #3e51b5;
  border-radius: 0.3em;
}

.link-button--disabled {
  cursor: default;
  background-color: #c0c0c0;
  background-color: #b6b6b6;
}

.link-button--shadow {
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

/* stylelint-disable selector-no-type */

.link-button__group svg {
  vertical-align: bottom;
}

/* stylelint-enable selector-no-type */

.link-button__icon {
  vertical-align: middle;
}

/* stylelint-disable custom-property-pattern, number-max-precision */

@font-face {
  font-family: EconSans;
  font-weight: 300;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-lig.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-lig.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-reg.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-weight: 700;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-bol.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-bol.woff') format('woff');
}

@font-face {
  font-family: EconSans;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecosans-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecosans-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: normal;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-reg.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-reg.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-style: italic;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-ita.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-ita.woff') format('woff');
}

@font-face {
  font-family: MiloSerifPro;
  font-weight: 500;
  src:
    /* Super Modern Browsers */
    url('/assets/ecoserif-med.woff2') format('woff2'),
    /* Pretty Modern Browsers */
    url('/assets/ecoserif-med.woff') format('woff');
}

/**
 * Modular scale for type.
 */

:root {
  /** Modular scale **/
  /* http://www.modularscale.com/?20&px&1.125&web&text */  /* Major second */

  /** Line heights **/

  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */

  /** Letter spacing **/
  /* Font: Halifax Regular */

  /* Font: Halifax Bold */

  /* Font: Halifax Light */

  /* Font: Ff Milo Serif Pro Med Italic */

  /* Font: Ff Milo Serif Pro */

  /* Font: FF Milo Serif OT Medium */
}

/* stylelint-disable selector-no-type */

html {
  font-size: 18px;
  line-height: 1.35;
}

@media screen and (min-width: 500px) {
  html {
    font-size: 20px;
  }
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.icon--video {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%201024%22%20enable-background%3D%22new%200%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22%22%20height%3D%22%22%20width%3D%22%22%3E%0D%0A%3Ctitle%3EVideo%3C%2Ftitle%3E%0D%0A%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0D%0A%3Cpath%20id%3D%22Shape%22%20d%3D%22M426.7%2C704l256-192l-256-192V704L426.7%2C704z%20M512%2C85.3%0D%0A%09C276.5%2C85.3%2C85.3%2C276.5%2C85.3%2C512S276.5%2C938.7%2C512%2C938.7S938.7%2C747.5%2C938.7%2C512S747.5%2C85.3%2C512%2C85.3L512%2C85.3z%20M512%2C853.3%0D%0A%09c-188.2%2C0-341.3-153.2-341.3-341.3S323.8%2C170.7%2C512%2C170.7S853.3%2C323.8%2C853.3%2C512S700.2%2C853.3%2C512%2C853.3L512%2C853.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.icon--video-economist {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%201024%22%20enable-background%3D%22new%200%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22fill%3A%23E3120B%3B%22%20height%3D%22%22%20width%3D%22%22%3E%0D%0A%3Ctitle%3EVideo%3C%2Ftitle%3E%0D%0A%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0D%0A%3Cpath%20id%3D%22Shape%22%20d%3D%22M426.7%2C704l256-192l-256-192V704L426.7%2C704z%20M512%2C85.3%0D%0A%09C276.5%2C85.3%2C85.3%2C276.5%2C85.3%2C512S276.5%2C938.7%2C512%2C938.7S938.7%2C747.5%2C938.7%2C512S747.5%2C85.3%2C512%2C85.3L512%2C85.3z%20M512%2C853.3%0D%0A%09c-188.2%2C0-341.3-153.2-341.3-341.3S323.8%2C170.7%2C512%2C170.7S853.3%2C323.8%2C853.3%2C512S700.2%2C853.3%2C512%2C853.3L512%2C853.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.icon--video-london {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%201024%22%20enable-background%3D%22new%200%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22fill%3A%23B6B6B6%3B%22%20height%3D%22%22%20width%3D%22%22%3E%0D%0A%3Ctitle%3EVideo%3C%2Ftitle%3E%0D%0A%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0D%0A%3Cpath%20id%3D%22Shape%22%20d%3D%22M426.7%2C704l256-192l-256-192V704L426.7%2C704z%20M512%2C85.3%0D%0A%09C276.5%2C85.3%2C85.3%2C276.5%2C85.3%2C512S276.5%2C938.7%2C512%2C938.7S938.7%2C747.5%2C938.7%2C512S747.5%2C85.3%2C512%2C85.3L512%2C85.3z%20M512%2C853.3%0D%0A%09c-188.2%2C0-341.3-153.2-341.3-341.3S323.8%2C170.7%2C512%2C170.7S853.3%2C323.8%2C853.3%2C512S700.2%2C853.3%2C512%2C853.3L512%2C853.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.icon--video-thimphu {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%201024%22%20enable-background%3D%22new%200%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22fill%3A%23FFFFFF%3B%22%20height%3D%22%22%20width%3D%22%22%3E%0D%0A%3Ctitle%3EVideo%3C%2Ftitle%3E%0D%0A%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0D%0A%3Cpath%20id%3D%22Shape%22%20d%3D%22M426.7%2C704l256-192l-256-192V704L426.7%2C704z%20M512%2C85.3%0D%0A%09C276.5%2C85.3%2C85.3%2C276.5%2C85.3%2C512S276.5%2C938.7%2C512%2C938.7S938.7%2C747.5%2C938.7%2C512S747.5%2C85.3%2C512%2C85.3L512%2C85.3z%20M512%2C853.3%0D%0A%09c-188.2%2C0-341.3-153.2-341.3-341.3S323.8%2C170.7%2C512%2C170.7S853.3%2C323.8%2C853.3%2C512S700.2%2C853.3%2C512%2C853.3L512%2C853.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.icon--video-chicago {
  background: url("data:image/svg+xml,%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201024%201024%22%20enable-background%3D%22new%200%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22%20style%3D%22fill%3A%233E51B5%3B%22%20height%3D%22%22%20width%3D%22%22%3E%0D%0A%3Ctitle%3EVideo%3C%2Ftitle%3E%0D%0A%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0D%0A%3Cpath%20id%3D%22Shape%22%20d%3D%22M426.7%2C704l256-192l-256-192V704L426.7%2C704z%20M512%2C85.3%0D%0A%09C276.5%2C85.3%2C85.3%2C276.5%2C85.3%2C512S276.5%2C938.7%2C512%2C938.7S938.7%2C747.5%2C938.7%2C512S747.5%2C85.3%2C512%2C85.3L512%2C85.3z%20M512%2C853.3%0D%0A%09c-188.2%2C0-341.3-153.2-341.3-341.3S323.8%2C170.7%2C512%2C170.7S853.3%2C323.8%2C853.3%2C512S700.2%2C853.3%2C512%2C853.3L512%2C853.3z%22%2F%3E%0D%0A%3C%2Fsvg%3E");
}

/**
 * Colors
 */

.link-button-icon--video.link-button--icon-background {
  background-color: #5f9ea0;
}
